.header {
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
}

.header-logo {
    cursor: pointer;
    height: 24px;
    width: 100px;
    margin-top: 7px;

}

.header-center { 
     cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-center>p{
    margin: 10px;
    text-transform: uppercase;

}

.header-right {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-right: 30px;
}

.header-right>p{
    margin: 10px;
     
}